// Media Queries

$mq-600-up: "only screen and (min-width: 600px)";

$mq-768-up: "only screen and (min-width: 768px)";

$mq-992-up: "only screen and (min-width: 992px)";

$mq-1200-up: "only screen and (min-width: 1200px)";

$mq-1470-up: "only screen and (min-width: 1470px)";
